body {
  background-color: #ff44a3;
}
.container {
  margin: 30px auto;
  max-width: 600px;
  width: 100%;
}
h1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.5;
  margin: 30px;
}
p {
  text-align: center;
  font-weight: 200;
  font-size: 20px;
}
.study-area {
  text-align: center;
  padding: 10px;
  background-color: #ffa6c9;
  border-radius: 10px;
}
textarea {
  margin-bottom: 5px;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  background-color: #f7dadf;
  font-size: 16px;
}
button {
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: #ff44a3;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #ffcfdb;
}
.output {
  background-color: #ffcfdb;
  padding: 10px;
  border-left: 4px solid #ff44a3;
  margin-bottom: 10px;
}
.motivation-area {
  text-align: center;
  padding: 20px;
  background-color: #ffa6c9;
  border-radius: 10px;
}
select {
  background-color: #f7dadf;
  border-radius: 5px;
  padding: 5px;
}
.motivation-output {
  background-color: #ffcfdb;
  padding: 10px;
  border-left: 4px solid #ff44a3;
  margin-bottom: 10px;
}
a {
  color: #f7dadf;
}
footer {
  margin: 20px;
  text-align: center;
}
